<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="tricentis">
        <parameter name="email" value="planittest78@gmail.com"/>
        <parameter name="password" value="123456"/>
        <packages>
            <package name="org.example.testClasses"></package>
        </packages>
    </test>
</suite>